{
    "finance": {
        "pf": {
            "username": "",
            "password": ""
        },
        "nps": {
            "username": "",
            "password": ""
        },
        "mfuonline": {
            "username": "",
            "password": "",
            "canid": ""
        },
        "splitwise": {
            "username": "",
            "password": ""
        }
    },
    "utilities": {
        "bsnl": {
            "username": "",
            "password": ""
        },
        "dbroadband": {
            "username": "",
            "password": ""
        },
        "solar": {
            "username": "",
            "password": "",
            "station_id": ""
        }
    },
    "vehicle": {
        "puc": {
            "vehicles": []
        }

    }
}
